

img {

  width: 50vw;

}

.navbar{
  /*text-shadow: black;*/
  text-shadow: 2px 2px black;
  padding-bottom: 1rem;
}

.carousel-container{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo{
  width: 5rem;

}
