img{
  width: 600px;
  height: 500px;
  display: flex;
}


.navbar{
  /*text-shadow: black;*/
  text-shadow: 2px 2px black;
  padding-bottom: 1rem;
}

/*.navbar{*/
/*  justify-content: space-between;*/

/*}*/
